<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>Add a new message!</h1>
    <form method="post" action="/chat">
        <input name="name" placeholder="Enter your name here">
        <br><br>
        <textarea name="message">Your message here.</textarea>
        <br><br>
        <input name="receiver" placeholder="Name of the receiver">
        <button>Submit</button>
    </form>
</body>
</html>